*{
    padding: 0;
    margin: 0;
    font-family: 'Nova Mono', monospace;
}
.main_content_area{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}
.block_area{
    width: 100%;
}
.buttons_area{
    display: flex;
    justify-content:space-between;
}
.buttons_area div{
    width: 33.333333333333333333333333333333333333333%;
    display: flex;
    justify-content: center;
}
.buttons_area div div{
    width: 100%;
    font-size: 25px;
    line-height: 70px;
}
.buttons_area{
    height: 70px;
    width: 100%;
}
.button_area_articles{
    cursor: pointer;
    height: 70px;
}
.button_active{
    transition: 0.3s;
    background: #F8F7F6;
    border: #FF2C9E solid 4px;
    border-radius: 40px 40px 0px 0px;
    border-bottom:none;
    background: #3D3F76;
    color: #F8F7F6;
}
.button_inactive{
    transition: 0.3s;
    background: #F8F7F6;
    border-width: 4px 4px 0px 4px;
    border-style: solid;
    border-color: #4E71FE;
    border-radius: 40px 40px 0px 0px;
    border-bottom:  #FF2C9E solid 4px ;
}
.button_area_topic{
    cursor: pointer;
    height: 70px;
}
.content_area_active{
    display: block;
    transition: 1s;
}
.content_area_inactive{
    display: none;
    transition: 1s;
}

.button_area_setting{
    cursor: pointer;
    height: 70px;
}
.content_area{
    background: #3D3F76;
    mix-blend-mode: normal;
    border-width: 0px 4px 4px 4px;
    border-style: solid;
    border-color: #FF2C9E;
    border-radius: 0px 0px 40px 40px;
    height: 57vh;
}
.content_area_setting{
    color:#F8F7F6;
}
.content_area_setting .block_mail_massage, .content_area_setting .form_email{
    width: 50%;
}

.content_area_setting .block_mail_massage, .content_area_setting .form_email{
    float: left;
}

.block_mail_massage{
    padding-left: 10%;
    padding-top: 12%;
}
.form_email{
    padding-top: 10%;
}
.form_email form div{
    display: block;
}
.email_block div{
    float: left;
}
input{
    margin: 0;
    padding: 0;
}

.email_block{
    padding-top: 10px;
    padding-left: 4%;
    height: 50px;
    width: 74%;
    color: #3D3F76;
    background: #F8F7F6;
    border-radius: 16px;
}

.input111{
    outline: 0;
    margin-left: 5px;
    padding-left: 5px;
    background-color:#F8F7F6;
    border: none;
    border-bottom: 1px #3D3F76 solid;
    width: 145%;
}
.buttons_block input{
    color:#3D3F76; 
    width: 36%;
    height: 50px;
    background: #F8F7F6;
    border-radius: 16px;
}
.carousel_slide{
    height: 50vh;
    padding-left: 5%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    width: 100%;
    padding-left: 15%;
}
.carousel_area{
    padding-top: 2%;
}
.slide_content_1, .slide_content_2, .slide_content_3{
    width: 33%;
    border: 2px solid #7c5fff;
    background:#F8F7F6;
    border-radius: 10px;
}
.carousel_title_article{
    font-size: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 100%;
    height: auto;
}
.carousel_arrow, .carousel_hashtag{
    font-size: 1vw;
    padding-left: 0.5vw;
}
.bottom_page div{
    float: left;
}
.bottom_page{
    position: absolute;
    bottom: 1vh;
    height: 3vh;
    width: 18%;
}
.carousel_arrow{
    position: absolute;
    right: 0px;
}
.a_topic{
    height: 35vh;
    width: 70%;
    padding-left: 2vh;
    padding-top: 1vh;
    background: #F8F7F6;
    border: #3D3F76 solid 1px;
    border-radius: 10px;
    margin-left: 15%;
}
.content_area_topic{
    padding-top: 10vh;
}
.a_topic a{
    margin-bottom: 1vw;
    text-decoration: none;
    color: #3D3F76;
    margin-right: 1vw;
}

.auto_content{
    font-size: 1.1vw;
    width: 35vw;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background: #3D3F76;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    color:#FDFEFF;
}
.title_auto{
    text-align: center;
    font-size: 2vw;
    margin-top: 1vw;
}
.soc_med{
    margin-top: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
.title_soc_med{
    font-size: 1.6vw;
}
.buttons_soc_med{
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
}
.buttons_soc_med div{
    width: 14vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5vw;
    text-align: center;
    cursor: pointer;
}
.other_auto{
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
.top_111{
    margin-bottom: 12.85vw;
}
.title_other_auto{
    font-size: 1.6vw;
}
.phone_email{
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
}
.phone_email a{
    border: 1px solid rgb(255, 255, 255);
    width: 14vw;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 0.5vw;
    text-decoration: none;
    color: #FDFEFF;
    cursor: pointer;
}
.success{
    margin-left: 2vw;
}
.form_inactive{
    transition: 0.5s;
    display: none;
}
.form_active{
    transition: 0.5s;
    display: block;
}
.other_auto_inactive{
    transition: 0.5s;
    display: none;
}
.other_auto_active{
    transition: 0.5s;
    display: block;
}
.form_auth_phone, .form_auth_email{
    border-radius: 1vw;
    background-color: #FDFEFF;
    color: #3D3F76;
    height: 15vw;
    border: 2px solid white;
    margin-bottom: 5vw;
}
.form_register{
    margin-bottom: 1vw;
    border-radius: 1vw;
    background-color: #FDFEFF;
    color: #3D3F76;
    height: 19vw;
    border: 2px solid white;
}
.header_email, .header_phone{
    padding-left: 1vw;
    padding-right: 1vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    background-color: #3D3F76;
    color: #FDFEFF;
    border-radius: 1vw 1vw 0 0 ;
    font-size: 1.3vw;
    line-height: 3vw;
    margin-bottom: 1.4vw;
}

.header_register{
    padding-left: 1vw;
    padding-right: 1vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    background-color: #3D3F76;
    color: #FDFEFF;
    border-radius: 1vw 1vw 0 0 ;
    font-size: 1.3vw;
    line-height: 3vw;
    margin-bottom: 1vw;
}
.header_register div{
    cursor: pointer;
}

.header_email div, .header_phone div{
    cursor: pointer;
}
.input_teg_email, .input_password_email, .input_teg_phone, .input_password_phone{
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.submit_button{
    text-align: center;
}
.input_teg_phone input, .input_teg_email input, .input_password_phone input, .input_password_email input{
    width: 18vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 2.5vw;
    border: none;
    outline: 0;
    border: #FF2C9E 1px solid;
    border-radius: 1vw;
    
}


.input_teg_email_register, .input_password_email_register, .input_teg_phone_register, .input_password_phone_register, .input_password_2_email_register{
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.submit_button{
    text-align: center;
}
.input_teg_phone_register input, .input_teg_email_register input, .input_password_phone_register input, .input_password_email_register input, .input_password_2_email_register input{
    width: 18vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 2.5vw;
    border: none;
    outline: 0;
    border: #FF2C9E 1px solid;
    border-radius: 1vw;
    
}
.submit_button input{
    width: 7vw;
    height: 2vw;
    background: #F8F7F6;
    border: #FF2C9E 1px solid;
    border-radius: 1vw;
}
.error_alert_email, .error_alert_phone, .error_alert_register{
    display: none;
}












.switch {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width:53px;
    height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #F8F7F6;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: #FF2C9E;
  }
  
  input:focus + .slider {
    background: #FF2C9E;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .carousel_photo_article img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px ;
  }

  

